projects/n8n/02_smart-table-fill/workflows/smart-table-fill.n8n.json
{
  "nodes": [
        {
      "parameters": {
        "content": "## If workflow stops here\n\nYour `Description_hig7f6` sheet exists but has faulty syntax.\n\n**Fix:** Delete the sheet from Google Sheets and re-run to regenerate it.",
        "height": 332,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        1184
      ],
      "id": "8bc89b5a-d0a2-44b0-af81-0d3b5709c3d3",
      "name": "Sticky Note - Troubleshoot"
    },
    {
      "parameters": {
        "content": "## Schema Auto-Creation\n\nOn first run, if `Description_hig7f6` sheet doesn't exist:\n1. Reads column headers from data sheet\n2. Uses LLM to generate Type, Description, Classes\n3. Creates schema sheet with intelligent defaults\n\nEdit the schema sheet to customize extraction behavior.",
        "height": 296,
        "width": 452
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        1152
      ],
      "id": "bd821957-9aab-4bfd-83df-9cb9c58482fa",
      "name": "Sticky Note - Schema Info"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1344,
        1168
      ],
      "id": "e572f6d1-5446-47cb-b3ba-d7b50f471d61",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1344,
        1360
      ],
      "id": "91e59217-1dd5-412f-8ede-4b095d52ac23",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2592,
        1856
      ],
      "id": "b822ab80-3760-41b4-889a-1ab3b209e50d",
      "name": "LLM Processor",
      "notesInFlow": false,
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={{ JSON.stringify($('Build Output Schema').all()[0].json, null, \" \") }}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2736,
        1792
      ],
      "id": "ab61eb4e-fd7b-4390-81e9-a03c9859ed6b",
      "name": "Dynamic Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a precise data extraction specialist. Your task is to analyze the provided text and extract specific information into the exact JSON structure required.\n\n## SOURCE DATA:\n<email_metadata>\nSender Name: {{ $('String Input').first().json.sender_name }}\nSender Email: {{ $('String Input').first().json.MatchValue }}\nSubject: {{ $('String Input').first().json.subject }}\n</email_metadata>\n\n<source_text>\n{{ $('String Input').first().json.TextObject_User }}\n</source_text>\n\n\n## CRITICAL INSTRUCTIONS:\n1. **ACCURACY FIRST**: Extract information exactly as stated in the source - do not estimate, round, or modify values\n2. **DEFAULT VALUES**: If information is not found, use appropriate the default: None\n3. **CLASSIFICATION CATEGORIES**: For \"enums\" use the most appropriate option or first option if unclear\n\n## CONFIDENCE SCORING:\nFor each extracted field, assess your confidence (0-100):\n- 90-100: Explicitly stated, unambiguous\n- 70-89: Clear but requires interpretation\n- 50-69: Ambiguous, multiple interpretations possible\n- 0-49: Missing, contradictory, or speculative\n\nInclude a \"confidence\" object in your response with:\n- \"overall\": weighted average of all field confidences (integer 0-100)\n- \"low_confidence_fields\": array of field names with confidence < 70\n- \"reasoning\": brief explanation of any uncertainty (max 100 chars)\n\n## QUALITY CHECK:\n- Double-check that all required fields are present\n- Be honest about uncertainty - do not inflate confidence scores\n\nStart here.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2592,
        1616
      ],
      "id": "91b8fcfc-662c-455f-ae53-f5b734f33860",
      "name": "Extract Data from String",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SpreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SchemaSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "cc7ab14b-317e-4293-bca3-15fc9525a598",
      "name": "Fetch Headers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2560,
        1344
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SpreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SchemaSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ColumnName": "={{ $json.ColumnName }}",
            "Type": "={{ $json.Type }}",
            "Description": "={{ $json.Description }}",
            "Classes": "={{ $json.Classes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ColumnName",
              "displayName": "ColumnName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Classes",
              "displayName": "Classes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2284a88d-8491-417d-abbb-a296a6aca4ca",
      "name": "Append Schema to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2224,
        1616
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert LLM output array to individual items for Google Sheets append\nconst schemaArray = $input.first().json.output;\nreturn schemaArray.map(row => ({ json: row }));"
      },
      "id": "c14cf4cd-0179-4063-9ef7-27d1309c2269",
      "name": "Split Schema Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1616
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "id": "fd913b99-c8ac-4b70-94b4-a5ede799f966",
      "name": "Schema LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1792,
        1840
      ],
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ColumnName\": { \"type\": \"string\" },\n      \"Type\": { \"type\": \"string\", \"enum\": [\"str\", \"int\", \"date\", \"list\", \"class\"] },\n      \"Description\": { \"type\": \"string\" },\n      \"Classes\": { \"type\": \"string\" }\n    },\n    \"required\": [\"ColumnName\", \"Type\", \"Description\", \"Classes\"]\n  }\n}"
      },
      "id": "e9515759-4db9-4388-8636-01d668ce5340",
      "name": "Schema Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1904,
        1840
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a database schema expert. Given these column names from a spreadsheet:\n{{ $json.columns }}\n\nGenerate a schema definition for each column. Output a JSON array where each item has:\n- ColumnName: the exact column name (preserve case)\n- Type: one of [str, int, date, list, class]\n- Description: brief description (10 words max) of what this field stores\n- Classes: if Type is \"class\", provide 2-4 comma-separated enum values; otherwise empty string\n\nType guidelines:\n- date: timestamps, birthdays, created_at, updated_at, any date field\n- int: IDs, counts, frequencies, ages, numeric identifiers\n- list: multiple values (emails, phones, jobs, tags, anything plural)\n- class: categorical/status fields (use Classes for enum values)\n- str: everything else (names, addresses, notes, single text values)\n\nIMPORTANT: Output ONLY the JSON array, no explanation.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "f95afa1a-2bab-44f1-84a4-702c5a85610b",
      "name": "LLM: Generate Schema",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1792,
        1616
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get column names from Sheets API response (values[0] = first row)\nconst columns = $('Fetch Data Sheet Headers').first().json.values[0];\nreturn [{ json: { columns: JSON.stringify(columns) } }];"
      },
      "id": "e21cc0b6-0f49-4ac6-beb0-4a80a374d9d3",
      "name": "Prep Columns for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1616
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('String Input').first().json.SpreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [{\n    \"addSheet\": {\n      \"properties\": {\n        \"title\": \"{{ $('String Input').first().json.SchemaSheetName }}\"\n      }\n    }\n  }]\n}",
        "options": {}
      },
      "id": "46fe86c4-5dd4-433b-b659-5cfd50017a8f",
      "name": "HTTP: Create Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1616
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "schema-exists-condition",
              "leftValue": "={{ $json.ColumnName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e96beba7-78e9-4417-aeb3-473610dc4fc2",
      "name": "IF: Schema Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2224,
        1360
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SpreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SchemaSheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f6ddf6bb-5bec-4c74-8c4d-4fb10ccde34b",
      "name": "Try Fetch Schema Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2000,
        1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $('String Input').first().json.SpreadsheetId }}/values/{{ encodeURIComponent($('String Input').first().json.DataSheetName) }}!1:1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "eabba3aa-4467-4b4b-bbaa-58c2d683691d",
      "name": "Fetch Data Sheet Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        1360
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.googleapis.com/v1/scripts/YOUR_DEPLOYMENT_ID:run",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ function: 'writeContactData', parameters: [$json] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "write-via-appscript",
      "name": "Write via Apps Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        1616
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "UPDATE_IN_N8N_UI",
          "name": "GoogleAppsScript"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17f1ff39-06cb-441e-ba35-2e83ec5a79d1",
              "name": "TextObject_User",
              "value": "={{ $json.TextObject_User || $json.text || $json.body || '' }}",
              "type": "string"
            },
            {
              "id": "0eabb116-4199-4379-99c2-d93c7da8650e",
              "name": "MatchValue",
              "value": "={{ $json.MatchValue || $json.email || '' }}",
              "type": "string"
            },
            {
              "id": "2af3e327-ba41-41d7-818b-6608d82566d0",
              "name": "MatchColumn",
              "value": "={{ $json.MatchColumn || 'email' }}",
              "type": "string"
            },
            {
              "id": "6d14c865-91b0-44d0-9f6b-ee4371e769c5",
              "name": "BatchSize",
              "value": 7,
              "type": "number"
            },
            {
              "id": "a1b2c3d4-1111-2222-3333-444455556666",
              "name": "SpreadsheetId",
              "value": "1si4ZYujqQBnKOTJPi-C7oBuWyS0xri_sZSVQ5hbIjRQ",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-5555-6666-7777-888899990000",
              "name": "DataSheetName",
              "value": "Entries",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-aaaa-bbbb-cccc-ddddeeeeffff",
              "name": "SchemaSheetName",
              "value": "Description_hig7f6",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-4567-890abcdef001",
              "name": "sender_name",
              "value": "={{ $json.sender_name || $json.sender || '' }}",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-1234-5678-90abcdef0012",
              "name": "subject",
              "value": "={{ $json.subject || '' }}",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-d0e1-2345-6789-0abcdef00123",
              "name": "existing_contact",
              "value": "={{ $json.existing_contact || '{}' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        1360
      ],
      "id": "6ac66f3a-3c6f-4741-9647-0eb6d6cb1497",
      "name": "String Input"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batchSize = $('String Input').first().json.BatchSize;\n\n// Group items into batches\nconst batches = [];\nfor (let i = 0; i < items.length; i += batchSize) {\n batches.push(items.slice(i, i + batchSize));\n}\n\n// Build one schema per batch\nconst results = batches.map(batch => {\n const properties = {};\n const requiredFields = [];\n\n for (const item of batch) {\n   const columnName = item.json.ColumnName;\n   const columnType = item.json.Type;\n   const columnDescr = item.json.Description;\n\n   if (columnName && columnType) {\n     if (columnType === 'class') {\n       properties[columnName] = {\n         type: \"string\",\n         description: columnDescr,\n         enum: item.json.Classes ? item.json.Classes.split(',').map(s => s.trim()) : []\n       };\n     } else {\n       let jsonType = columnType;\n       if (columnType === 'str') jsonType = 'string';\n       else if (columnType === 'list') jsonType = 'array';\n\n       properties[columnName] = {\n         type: jsonType,\n         description: columnDescr\n       };\n\n       if (jsonType === 'array') {\n         properties[columnName].items = { type: \"string\" };\n       }\n     }\n     requiredFields.push(columnName);\n   }\n }\n\n // Add confidence scoring field to schema\n properties.confidence = {\n   type: \"object\",\n   description: \"Confidence scores for extraction quality\",\n   properties: {\n     overall: { type: \"integer\", minimum: 0, maximum: 100, description: \"Weighted average confidence (0-100)\" },\n     low_confidence_fields: { type: \"array\", items: { type: \"string\" }, description: \"Fields with confidence < 70\" },\n     reasoning: { type: \"string\", description: \"Brief explanation of uncertainty\" }\n   },\n   required: [\"overall\"]\n };\n requiredFields.push(\"confidence\");\n\n return {\n   json: {\n     type: \"object\",\n     properties,\n     required: requiredFields\n   }\n };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        1344
      ],
      "id": "4a21c71b-d54f-41aa-b4b4-f0e46a4cf1b2",
      "name": "Build Output Schema"
    },
    {
      "parameters": {
        "jsCode": "const allOutputs = $input.all();\n\n// Try to get config from String Input node, fallback to input data\nlet matchColumn, matchValue, existingContactStr;\ntry {\n  matchColumn = $('String Input').first().json.MatchColumn;\n  matchValue = $('String Input').first().json.MatchValue;\n  existingContactStr = $('String Input').first().json.existing_contact || '{}';\n} catch (e) {\n  const firstInput = $input.first().json;\n  matchColumn = firstInput.MatchColumn || 'email';\n  matchValue = firstInput.MatchValue || firstInput.email || '';\n  existingContactStr = '{}';\n}\n\nconst merged = {};\nlet confidenceData = null;\n\nfor (const item of allOutputs) {\n  const output = item.json.output;\n  if (output) {\n    if (output.confidence) {\n      confidenceData = output.confidence;\n      delete output.confidence;\n    }\n    Object.assign(merged, output);\n  }\n}\n\n// Add flattened confidence fields\nif (confidenceData) {\n  merged.confidence_score = confidenceData.overall || 0;\n  merged.confidence_low_fields = Array.isArray(confidenceData.low_confidence_fields) \n    ? confidenceData.low_confidence_fields.join(', ') : '';\n  merged.confidence_reasoning = confidenceData.reasoning || '';\n  merged.review_needed = (confidenceData.overall || 0) < 70;\n}\n\n// Set email from source\nif (matchColumn === 'email' && matchValue) {\n  merged.email = matchValue;\n}\nif (matchColumn && matchValue) {\n  merged[matchColumn + '_source'] = matchValue;\n}\n\n// Merge more_emails\nif (Array.isArray(merged.extracted_emails)) {\n  const allEmails = [...new Set([matchValue, ...merged.extracted_emails].filter(Boolean))];\n  merged.email = allEmails[0];\n  merged.more_emails = allEmails.slice(1).join(', ');\n}\n\n// === DISCREPANCY CHECK ===\nconst existingContact = JSON.parse(existingContactStr);\nconst confidenceLowFields = (merged.confidence_low_fields || '').split(',').map(f => f.trim()).filter(Boolean);\nconst discrepancies = [];\nconst fieldsToSkip = ['confidence_score', 'confidence_low_fields', 'confidence_reasoning', 'review_needed', 'email', 'email_source', 'discrepancy_count', 'discrepancy_fields', 'discrepancy_report'];\n\nfor (const [field, llmValue] of Object.entries(merged)) {\n  if (fieldsToSkip.includes(field)) continue;\n  const existingValue = existingContact[field];\n  if (existingValue !== undefined && existingValue !== null && existingValue !== '') {\n    const llmStr = String(llmValue || '').toLowerCase().trim();\n    const existStr = String(existingValue).toLowerCase().trim();\n    if (llmStr !== existStr && llmStr !== '' && llmStr !== 'none') {\n      const isLowConf = confidenceLowFields.includes(field);\n      discrepancies.push({ field, llm_value: llmValue, existing_value: existingValue, action: isLowConf ? 'keep_existing' : 'use_llm' });\n      if (isLowConf) merged[field] = existingValue; // Keep existing for low-confidence\n    }\n  }\n}\n\nmerged.discrepancy_count = discrepancies.length;\nmerged.discrepancy_fields = discrepancies.map(d => d.field).join(', ');\nmerged.discrepancy_report = JSON.stringify(discrepancies);\n\n// Nest observability fields in _meta (avoids sheet pollution, keeps data in n8n)\nmerged._meta = {\n  confidence_score: merged.confidence_score,\n  confidence_low_fields: merged.confidence_low_fields,\n  confidence_reasoning: merged.confidence_reasoning,\n  review_needed: merged.review_needed,\n  discrepancy_count: merged.discrepancy_count,\n  discrepancy_fields: merged.discrepancy_fields,\n  discrepancy_report: merged.discrepancy_report\n};\ndelete merged.confidence_score;\ndelete merged.confidence_low_fields;\ndelete merged.confidence_reasoning;\ndelete merged.review_needed;\ndelete merged.discrepancy_count;\ndelete merged.discrepancy_fields;\ndelete merged.discrepancy_report;\n\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        1616
      ],
      "id": "a443b156-94f6-4ba7-881d-b3f3817ba14a",
      "name": "Merge Outputs"
    },
    {
      "parameters": {
        "content": "**Optional:** LLM confidence scoring via `confidence` field. See `../docs/observability-through-llm-confidence-estimate.md`",
        "height": 80,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        1600
      ],
      "id": "conf-note-002",
      "name": "Confidence Note"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.SpreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('String Input').first().json.DataSheetName }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "email": "={{ $json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "handlingExtraData": "ignoreIt"
        }
      },
      "id": "dd17aca5-5aad-4288-bedc-c14bc07a6b1b",
      "name": "Write_Excel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3136,
        1456
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "String Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "String Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Processor": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Data from String",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Dynamic Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Data from String",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data from String": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Headers": {
      "main": [
        [
          {
            "node": "Build Output Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Schema to Sheet": {
      "main": [
        [
          {
            "node": "Fetch Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Schema Rows": {
      "main": [
        [
          {
            "node": "Append Schema to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema LLM": {
      "ai_languageModel": [
        [
          {
            "node": "LLM: Generate Schema",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schema Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "LLM: Generate Schema",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM: Generate Schema": {
      "main": [
        [
          {
            "node": "Split Schema Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Columns for LLM": {
      "main": [
        [
          {
            "node": "LLM: Generate Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Create Sheet": {
      "main": [
        [
          {
            "node": "Prep Columns for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Schema Exists?": {
      "main": [
        [
          {
            "node": "Fetch Headers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Create Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Fetch Schema Sheet": {
      "main": [
        [
          {
            "node": "IF: Schema Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data Sheet Headers": {
      "main": [
        [
          {
            "node": "Try Fetch Schema Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "String Input": {
      "main": [
        [
          {
            "node": "Fetch Data Sheet Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Output Schema": {
      "main": [
        [
          {
            "node": "Extract Data from String",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Outputs": {
      "main": [
        [
          {
            "node": "Write via Apps Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Write_Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}