projects/n8n/1_LLM-bulk-responses/1_LLM-bulk-responses.n8n.json
{
  "nodes": [
    {
      "parameters": {
        "content": "# The alrounder assistant\n- eliminates copy-pasting",
        "height": 176,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -160
      ],
      "typeVersion": 1,
      "id": "ca9ec78e-c0a7-4bfd-927f-fbc986e2333e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"text\": \"# DATA EXTRACTION TASK\n\nYou are a precise data extraction specialist. Your task is to analyze the provided text and extract specific information into the exact JSON structure required.\n\n## SOURCE DATA:\n<source_text>\n{{JSON.stringify($json, null, 2)}}\n</source_text>\n\n## CRITICAL INSTRUCTIONS:\n1. **READ CAREFULLY**: Analyze the entire source text thoroughly before extracting any information\n2. **ACCURACY FIRST**: Extract information exactly as stated in the source - do not estimate, round, or modify values\n3. **REQUIRED FIELDS**: Fill ALL JSON fields - never leave empty strings or null values\n4. **DEFAULT VALUES**: Do not leave any of the JSON entries empty. use \"-\" or \"0\" or \"F\" instead.\n\n## EXPECTED OUTPUT FORMAT:\n- is given.\n\n## QUALITY CHECK:\n- Verify each extracted value against the source text\n- Ensure no information is fabricated or estimated\n- Double-check numerical values for accuracy\n- Confirm all fields are filled (no empty values)\n\nStart here.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        160,
        96
      ],
      "id": "a7febc7f-0ac6-47f0-9583-0f25f6afe7ea",
      "name": "process row",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13_rsLrDZhf-I3LmjzyhV9nHDcXXzTReBYorf3czow1c",
          "mode": "list",
          "cachedResultName": "Elderly_care_replies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13_rsLrDZhf-I3LmjzyhV9nHDcXXzTReBYorf3czow1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13_rsLrDZhf-I3LmjzyhV9nHDcXXzTReBYorf3czow1c/edit#gid=0"
        },
        "options": {}
      },
      "id": "a62b949a-e401-45c0-83b1-c6fe99d3a92e",
      "name": "Read Excel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -176,
        -176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "Google Sheets_FirstProject"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "186b90da-f161-4f4d-8d94-ac9502f6429b",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c41503c0-a340-4617-a615-68b957975fa3",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -336,
        16
      ],
      "id": "7814d314-9deb-46d3-b6a4-d6572dbb76aa",
      "name": "P1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "6cdb8422-3814-474e-abfd-4ec4c509f5ab",
      "name": "Loop1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        16
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"cost_range\": {\n      \"type\": \"string\",\n      \"description\": \"Cost category for easy comparison\",\n      \"enum\": [\"under_3000\", \"3000_4000\", \"4000_5000\", \"5000_7000\", \"over_7000\"]\n    },\n    \"cognitive_stimulation_programs\": {\n      \"type\": \"string\",\n      \"description\": \"Mental stimulation activities or programs offered\"\n    },\n    \"public_transport_connections\": {\n      \"type\": \"string\",\n      \"description\": \"Access to public transportation mentioned\"\n    }\n  },\n  \"required\": [\"availability_status\", \"cost_range\", \"specialized_dementia_care\", \"cognitive_stimulation_programs\", \"public_transport_connections\", \"medical_services\", \"staff_ratio\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        192
      ],
      "id": "fff5e001-91df-4ca2-a432-9be3df98755a",
      "name": "SO1"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        272,
        192
      ],
      "id": "01ff9f9f-4fc9-4643-a001-7f6b5d4fb7f2",
      "name": "LLM1",
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -176
      ],
      "id": "737b048d-538f-44e9-88ea-dfaa0b99cd22",
      "name": "Trigger1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13_rsLrDZhf-I3LmjzyhV9nHDcXXzTReBYorf3czow1c",
          "mode": "list",
          "cachedResultName": "Elderly_care_replies",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13_rsLrDZhf-I3LmjzyhV9nHDcXXzTReBYorf3czow1c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13_rsLrDZhf-I3LmjzyhV9nHDcXXzTReBYorf3czow1c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "availability_status": "={{ $json.output.availability_status }}",
            "cost_range": "={{ $json.output.cost_range }}",
            "specialized_dementia_care": "={{ $json.output.specialized_dementia_care }}",
            "cognitive_stimulation_programs": "={{ $json.output.cognitive_stimulation_programs }}",
            "public_transport_connections": "={{ $json.output.public_transport_connections }}",
            "medical_services": "={{ $json.output.medical_services }}",
            "staff_ratio": "={{ $json.output.staff_ratio }}",
            "Response_ID": "={{ $('format validation').item.json.Response_ID }}"
          },
          "matchingColumns": [
            "Response_ID"
          ],
          "schema": [
            {
              "id": "Response_ID",
              "displayName": "Response_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facility_Name",
              "displayName": "Facility_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date_Sent",
              "displayName": "Date_Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date_Received",
              "displayName": "Date_Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email_Response",
              "displayName": "Email_Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "availability_status",
              "displayName": "availability_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cost_range",
              "displayName": "cost_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "specialized_dementia_care",
              "displayName": "specialized_dementia_care",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cognitive_stimulation_programs",
              "displayName": "cognitive_stimulation_programs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "public_transport_connections",
              "displayName": "public_transport_connections",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "medical_services",
              "displayName": "medical_services",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "staff_ratio",
              "displayName": "staff_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9873b8ee-ef52-45fb-b7df-56a00f6c03ee",
      "name": "Write_Excel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        448,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "Google Sheets_FirstProject"
        }
      }
    },
    {
      "parameters": {
        "content": "items looping",
        "height": 208,
        "width": 422,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        48
      ],
      "typeVersion": 1,
      "id": "6cf7c304-f010-439a-97dd-d4658c88dfa1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8c9e5a3d-2f1b-4e6a-9c8d-7b5a4f3e2d1c",
              "leftValue": "={{ $json.Email_Response }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b45c23e5-e9ba-4e8b-8d96-26abbef66dc9",
      "name": "format validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -16,
        96
      ]
    }
  ],
  "connections": {
    "process row": {
      "main": [
        [
          {
            "node": "Write_Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel": {
      "main": [
        [
          {
            "node": "P1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P1": {
      "main": [
        [
          {
            "node": "Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop1": {
      "main": [
        [],
        [
          {
            "node": "format validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SO1": {
      "ai_outputParser": [
        [
          {
            "node": "process row",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM1": {
      "ai_languageModel": [
        [
          {
            "node": "process row",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger1": {
      "main": [
        [
          {
            "node": "Read Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write_Excel": {
      "main": [
        [
          {
            "node": "Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format validation": {
      "main": [
        [
          {
            "node": "process row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}
