projects/n8n/3_inbox-attachment-organizer/workflows/inbox-attachment-organizer.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -5200,
        400
      ],
      "id": "12f5de96-7448-4f61-9972-3cb2ad3db46d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "F3cQVIbokuyDLVR2",
          "name": "Google_0Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.email_ID}}",
        "simple": false,
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -5200,
        768
      ],
      "id": "94d5718a-f954-4c26-a6ba-5efb2d8ab533",
      "name": "Gmail",
      "webhookId": "492741a0-0897-4fb9-8a3f-3dc1643ad5e6",
      "credentials": {
        "gmailOAuth2": {
          "id": "F3cQVIbokuyDLVR2",
          "name": "Google_0Auth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "email_ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "88317ede-1315-4625-ad6a-74be84ee5513",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4976,
        576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0af57e1c-21ab-433b-a109-3e21070857a2",
              "name": "binary_files",
              "value": "={{ $input.item.binary || JSON.parse('{\"message\": \"No binary Attachment\"}') }}",
              "type": "object"
            },
            {
              "id": "dde8fd18-7822-4f3b-8fd0-a9614db9e0b8",
              "name": "attachment_names",
              "value": "={{ Object.keys($binary) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4976,
        768
      ],
      "id": "978606c1-bbe9-41d6-82b2-f96ad04bff6e",
      "name": "Get binary data"
    },
    {
      "parameters": {
        "chatId": "7582730035",
        "text": "={{ $json.Message || \"SANTA ERROR\" }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2992,
        880
      ],
      "id": "b93328d6-d6ab-4831-b9eb-31bdb4325c75",
      "name": "Telegram & done",
      "webhookId": "c38320b7-a66e-4895-b34a-bd617f36d18d",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "OiAg5ImWe61JXymC",
          "name": "n8n_house_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45df079e-7a07-406b-8cee-c236cf13c0d3",
              "leftValue": "={{ $json.labelIds }}",
              "rightValue": "=CATEGORY_PROMOTIONS",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4976,
        400
      ],
      "id": "6b7058be-a43e-4a2d-8a3e-342a6611cec5",
      "name": "Stop promotions"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{[\"invoice\", \"financial\"]}}",
                    "rightValue": "={{ $json.output.type_of_document }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "d5660317-6722-49c5-adf5-fd6bce026987"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3424,
        560
      ],
      "id": "eb86b6a1-000b-45d4-88c8-82eaca73b867",
      "name": "financial doc router",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d5d56dd-157e-48ea-9e70-eba290d4f997",
              "leftValue": "={{ $json.binary_files.message }}",
              "rightValue": "No binary Attachment",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4704,
        448
      ],
      "id": "579a7d40-f08d-4dd8-9618-95e7264f14b4",
      "name": "Empty?"
    },
    {
      "parameters": {
        "chatId": "7582730035",
        "text": "={{ $('subject-classifier-LM').item.json.output.type_of_document || \"<Error>\\n$('subject-classifier-LM')...type_of_document\" }}:\n{{ $('subject-classifier-LM').item.json.output.type_of_document === 'operational' ? $('subject-classifier-LM').item.json.output.message : '' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2864,
        496
      ],
      "id": "dbbcaedb-8615-4de9-ae51-54bb14b0bfda",
      "name": "notify rejection",
      "webhookId": "c38320b7-a66e-4895-b34a-bd617f36d18d",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "mlZdNwRkWhIVuDdr",
          "name": "Telegram inbox_important"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "salS1YqWh7Dq4PRF",
          "mode": "list",
          "cachedResultUrl": "/workflow/salS1YqWh7Dq4PRF",
          "cachedResultName": "Google Drive Folder ID Lookup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "target_path": "=/Accounting/{{ $('Accountant-concierge-LM').item.json.output.year }}/{{ $json.month }}/{{ $json.accounting_category }}",
            "root_folder_id": "1tiI-FHH-yeiWjku8jU5dClDRFERIe4gS",
            "root_path": "/Accounting"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "target_path",
              "displayName": "target_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "root_folder_id",
              "displayName": "root_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "root_path",
              "displayName": "root_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -3264,
        1168
      ],
      "id": "6db79504-d105-47b1-854c-0a8096451f40",
      "name": "Call 'Google Drive Folder ID Lookup'",
      "notes": "Set this as debugging folder destination: `\"/Accounting/2025/11_November/Expense\"`"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "include": "selectedOtherFields",
        "fieldsToInclude": "binary",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4704,
        672
      ],
      "id": "93d1354e-67e7-4b56-be62-a6e9caccd5f0",
      "name": "sp"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "output_data = {\n  \"accounts\": [\n    \"payments-noreply@google.com\",\n    \"noreply@notifications.digitec.ch\",\n    \"invoice+statements@mail.anthropic.com\",\n    \"uniqued4ve@gmail.com\"\n  ]\n}\n\nif _items:\n    _items[0][\"json\"] = output_data\n\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        752
      ],
      "id": "a5b1dfd9-c6da-486d-beda-c664e88d79bd",
      "name": "user_email_whitelist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**document TEXT INPUT:**  \n{{ $('Gmail').first().json.text }}\n---\n** Attachements content**\n{{ $json.summary_attachments }}\n\n\n** Company profile context **\n\nJust regular SaaS business.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Role\nYou You're an employe of a Swiss Company responsible for Invoice Classification.\n\n## TASK\nAnalyze the following invoice or financial document text and classify it accordingly.  \nDecide if each item is an **Investment** (Balance Sheet/Assets) or an **Expense** (Income Statement).\n\n## Output\nA json based on the schema with following keys:"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3776,
        496
      ],
      "id": "39d4afb7-c612-49b2-b099-02f819e31812",
      "name": "subject-classifier-LM",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<parsed-document-content>\n{{ $json['processed_attachments.data'].textForLLM }}\n</parsed-document-content>\n\nClassify this document and extract all available data.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI invoice processor for a Swiss SaaS company. You classify documents and extract their data.\n\n## YOUR TASKS (in order):\n1. **Classify** the document type and accounting category\n2. **Extract** all invoice data into structured fields\n\n## CLASSIFICATION RULES:\n- Revenue: Customer invoices we send\n- Expense: Invoices/receipts we receive from suppliers\n- Invoice: Formal billing document with invoice number\n- Receipt: Proof of payment (often simpler, may lack invoice #)\n\n## EXTRACTION RULES:\n- Use **snake_case** keys in English\n- Prioritize standard keys: invoice_number, invoice_date, supplier_name, recipient_business_name, total_amount_due, currency_code, due_date, line_items, etc.\n- For line items: array of objects with item_description, quantity, unit_price, line_item_total\n- Only include keys for data that exists—do not invent values\n- If unsure about a field's purpose, prefix with `uncertain_`\n\n## OUTPUT:\nJSON only. No explanations."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3936,
        1024
      ],
      "id": "fe1b17b6-7544-49d1-8237-d4fd3fa5070e",
      "name": "Accountant-concierge-LM",
      "retryOnFail": true,
      "maxTries": 4
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZfqdUCMMWFvN-AMUKL7n-TIbSZAer3fqiH6Oy03tM94",
          "mode": "list",
          "cachedResultName": "2505_Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZfqdUCMMWFvN-AMUKL7n-TIbSZAer3fqiH6Oy03tM94/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZfqdUCMMWFvN-AMUKL7n-TIbSZAer3fqiH6Oy03tM94/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "supplier_name": "={{ $json.output.invoice_data.supplier_name }}",
            "supplier_address": "={{ $json.output.invoice_data.supplier_address || \"-\"}}",
            "invoice_date": "={{ $json.output.invoice_data.invoice_date }}",
            "total_amount_due": "={{ $json.output.invoice_data.total_amount_due || \"-\" }}",
            "currency_code": "={{ $json.output.invoice_data.currency_code || \"-\" }}",
            "subtotal_amount": "={{ $json.output.invoice_data.total_amount_due || \"-\" }}",
            "recipient_business_name": "={{ $json.output.invoice_data.supplier_name || \"-\" }}",
            "payment_method": "={{ $json.output.invoice_data.payment_method || \"-\" }}",
            "date_paid": "={{ $json.output.invoice_data.transaction_date || \"-\" }}",
            "payment_reference": "={{ $json.output.invoice_data.payment_reference || \"-\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount_due",
              "displayName": "total_amount_due",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency_code",
              "displayName": "currency_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtotal_amount",
              "displayName": "subtotal_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_address",
              "displayName": "supplier_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipient_business_name",
              "displayName": "recipient_business_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_reference",
              "displayName": "payment_reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_paid",
              "displayName": "date_paid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "invoice_status",
              "displayName": "invoice_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "purchase_order_number",
              "displayName": "purchase_order_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tax_amount",
              "displayName": "tax_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_terms",
              "displayName": "payment_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date_received",
              "displayName": "date_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "supplier_vat_number",
              "displayName": "supplier_vat_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "supplier_tax_id",
              "displayName": "supplier_tax_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "discount_amount",
              "displayName": "discount_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_id",
              "displayName": "approver_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_name",
              "displayName": "approver_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "department_id",
              "displayName": "department_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cost_center_code",
              "displayName": "cost_center_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "supplier_contact_details",
              "displayName": "supplier_contact_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "supplier_bank_account_details",
              "displayName": "supplier_bank_account_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "internal_reference_number",
              "displayName": "internal_reference_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recipient_business_address",
              "displayName": "recipient_business_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2992,
        1104
      ],
      "id": "21d038a1-2970-455a-be3a-88bcef506917",
      "name": "insert doc record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "290dd0a6-a92b-48c9-b5de-ae15ea4199fc",
              "name": "processed_attachments.data",
              "value": "={{ $if($('attachement_as_text').isExecuted, $('attachement_as_text').item.json.processed_attachments.data, []) }}",
              "type": "array"
            },
            {
              "id": "724ccebf-8dcc-450e-a97a-551a9522f54c",
              "name": "attachement_names",
              "value": "={{ $('Gmail').first().binary ? Object.keys($('Gmail').first().binary) : [] }}",
              "type": "string"
            },
            {
              "id": "2b538817-1d59-44a5-ae78-c5b8961343cb",
              "name": "attachment_array",
              "value": "={{ $if($('Build Attachment Profiles').isExecuted, $('Build Attachment Profiles').item.json.data, null) }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4480,
        1040
      ],
      "id": "d3f0f4d6-eaa3-4256-b63b-5f8716231356",
      "name": "prepare attachment meta"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4000,
        672
      ],
      "id": "3f0df553-6420-4610-b9c3-1b250551b79b",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4160,
        944
      ],
      "id": "e44f9a41-161f-4ee3-885b-a0fd28b6d236",
      "name": "loop invoices"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -5200,
        576
      ],
      "id": "6e8051ea-5137-4bcd-bc9e-572800a93066",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b42ef4b6-3228-4fca-87ea-ad1ebe176a1e",
              "name": "processed_attachments",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "897e3bce-eacf-4fe3-9b96-652edd2186c3",
              "name": "summary_attachments",
              "value": "={{ $json.data.map(item => item.text).join('\\n---\\n') }}",
              "type": "string"
            },
            {
              "id": "d6bbbe24-bfb6-4d2e-a17f-2afcd018ddc9",
              "name": "attachement_names",
              "value": "={{ Object.keys($('Gmail').first().binary) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4000,
        496
      ],
      "id": "d5afd2dd-0765-47fe-b296-ad50efb29abd",
      "name": "attachement_as_text"
    },
    {
      "parameters": {
        "inputDataFieldName": "file1",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Call \\'Google Drive Folder ID Lookup\\'').item.json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2832,
        1296
      ],
      "id": "b1db0433-988a-4d90-b22a-607bef5d8316",
      "name": "save doc to folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HwaWjD4xhGV5dH9Q",
          "name": "Google Drive Sheets & OAuth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Auto-File Email Attachments to Google Drive\n\nReads email attachment content, extracts key data to determine filing location (Accounting/2025/May/Expense/), and records details to Google Sheets.\n\n### How it works\n1. Monitors Gmail for new emails with attachments\n2. Classifies documents (invoice, receipt, confirmation, newsletter, etc.)\n   - *any-file2json-converter*: Extracts text from PDFs, images (OCR), and documents\n3. For financial documents, extracts structured data.\n4. Files attachments to organized Google Drive folders (Accounting/2025/05_May/Expense/)\n   - *google-drive-folder-id-lookup*: Locates or creates correct folder structure\n5. Logs invoice details to Google Sheets\n6. Sends notifications via Telegram\n\n### Setup\n- [ ] Import all 5 workflows (1 main + 2 subworkflows + 1 recursive + 1 batch processor)\n- [ ] Connect Google OAuth (Gmail + Drive + Sheets)\n- [ ] Add AI provider credentials (Groq or Gemini)\n- [ ] Create Google Sheet named \"2505_Invoices\" with required columns\n- [ ] Download and upload folder structure template to Google Drive\n- [ ] Configure sender whitelist: add your own email address to test\n- [ ] Activate Gmail trigger\n\n- [ ] Test: forward an existing invoice email with attachments to yourself\n\n---\n#### After First Run\n- [ ] Run `gmail-systematic-processor` workflow to clean up and process all existing emails/attachments in your inbox for a truly organized system (the Gmail trigger only catches new incoming emails)\n- [ ] Connect Telegram bot for notifications\n\n---\n📂 **[View full docs & source code on GitHub →](https://github.com/runfish5/micro-services/tree/main/projects/n8n/3_inbox-attachment-organizer)**\n",
        "height": 896,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5808,
        288
      ],
      "typeVersion": 1,
      "id": "1d732fd0-64cf-43fc-bd6c-74142ba1bfe1",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "\n\n\n\nModify your \nemail white-list.",
        "height": 140,
        "width": 376,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3632,
        752
      ],
      "id": "1d318047-1492-43d1-b001-5033cc2caf42",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nOptions:\na. Deactivate with `ctrl + d`.\nb. **Follow n8n instructions on how to use the telegram node.** [DOCs](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.telegram/?utm_source=n8n_app&utm_medium=node_settings_modal-credential_link&utm_campaign=n8n-nodes-base.telegram)",
        "height": 556,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        480
      ],
      "id": "ccb93ee3-2836-4962-ace7-653ed4e6d42b",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nConfigure your  `root_path` and `root_folder_id`.\n\n1. root_path: \"/Accounting\". \n2. `'root_folder_id'`:\nOpen \"/Accounting\" in the browser and take the last section of the URL, for example: `1tiI-FHH-yeWju4gS` in the case of `https://drive.google.com/drive/folders/1tiI-FHH-yeWju4gS`\n",
        "height": 412,
        "width": 344,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3648,
        1168
      ],
      "id": "0b5c7ac9-633a-4e9d-80bc-827e99ce8c97",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "Connect to the created google sheet.",
        "height": 220,
        "width": 280,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        1056
      ],
      "id": "43d6ccf9-14fe-4a32-b8dc-910fd1d8c068",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "![](https://raw.githubusercontent.com/runfish5/micro-services/main/projects/n8n/3_inbox-attachment-organizer/assets/google-drive-folder-structure.png)",
        "height": 256,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3280,
        1392
      ],
      "id": "f32040b1-d196-4d29-bf58-374b758071f0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "![invoices Sheet Structure](https://raw.githubusercontent.com/runfish5/micro-services/main/projects/n8n/3_inbox-attachment-organizer/assets/invoices-table-schema-columns-path-folder-id.png)\n",
        "height": 192,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3008,
        1072
      ],
      "id": "3ef6f9fb-e129-4bf1-b22c-434670cacb3a",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "jsCode": "// Fast Email Cleaner for n8n\n// Optimized for large marketing emails\n\n// 1. Get raw text (check all paths)\nconst rawText = $json.text \n  || $json.data?.text \n  || $json['data.text'] \n  || $input.item?.json?.text \n  || $input.item?.json?.data?.text \n  || '';\n\nif (!rawText.trim()) {\n  return {\n    error: 'No text content found',\n    available_keys: Object.keys($json || {})\n  };\n}\n\n// 2. Single-pass character cleanup (no normalize)\nlet text = rawText\n  .replace(/[\\x00-\\x1F\\x7F-\\x9F\\u200B-\\u200F\\u2028-\\u202F\\u205F-\\u206F\\uFEFF\\u034F\\u00AD\\u00A0\\u1680\\u180E\\u2000-\\u200A\\u3000­͏‌]+/g, ' ');\n\n// 3. Extract URLs ONCE, replace ALL in single pass\nconst urlMap = {};\nlet linkCounter = 0;\n\ntext = text\n  // Remove image URLs entirely\n  .replace(/\\[?https?:\\/\\/[^\\s\\[\\]]*\\.(jpg|jpeg|png|gif|svg|webp)[^\\s\\[\\]]*\\]?/gi, ' ')\n  // Replace remaining URLs with placeholders in ONE pass\n  .replace(/https?:\\/\\/[^\\s\\[\\]()<>]+/gi, (url) => {\n    // Dedupe: check if we've seen this URL\n    for (const [id, existingUrl] of Object.entries(urlMap)) {\n      if (existingUrl === url) return id;\n    }\n    const linkId = `[Link${++linkCounter}]`;\n    urlMap[linkId] = url;\n    return linkId;\n  });\n\n// 4. Final text cleanup (single chain)\ntext = text\n  .replace(/\\s+/g, ' ')\n  .replace(/\\s+([.,;!?])/g, '$1')\n  .replace(/\\[\\s*\\]/g, '')\n  .trim();\n\n// 5. Simple paragraph formatting\ntext = text\n  .split(/(?<=[.!?])\\s+(?=[A-Z])/)\n  .map(p => p.trim())\n  .filter(p => p.length > 0)\n  .join('\\n\\n');\n\n// 6. Extract key info (fast, non-greedy patterns)\nconst extractedInfo = {\n  orderNumber: (text.match(/(?:Bestellung|Order|Auftrag)[\\s#:]*(\\d{6,})/i) || [])[1] || null,\n  trackingNumber: null,\n  product: (text.match(/tomtoc[^,\\n]{0,80}/i) || [''])[0].trim() || null,\n  deliveryAddress: (text.match(/Lieferadresse\\s*([^[\\n]{0,200})/i) || [])[1]?.trim() || null,\n  dates: text.match(/\\d{1,2}[./-]\\d{1,2}[./-]\\d{2,4}/g) || []\n};\n\n// Find tracking (long number ≠ order number)\nconst numbers = text.match(/\\b\\d{10,20}\\b/g) || [];\nextractedInfo.trackingNumber = numbers.find(n => n !== extractedInfo.orderNumber) || null;\n\n// 7. LLM-ready version\nconst textForLLM = text.replace(/\\[Link\\d+\\]/g, '').replace(/\\s+/g, ' ').trim();\n\n// 8. Structured summary\nconst structuredSummary = `ORDER DETAILS:\n- Order Number: ${extractedInfo.orderNumber || 'Not found'}\n- Tracking: ${extractedInfo.trackingNumber || 'Not found'}\n- Product: ${extractedInfo.product || 'Not found'}\n- Delivery Address: ${extractedInfo.deliveryAddress || 'Not found'}\n- Order Date: ${extractedInfo.dates[0] || 'Not found'}\n\nORIGINAL MESSAGE:\n${textForLLM}`;\n\n// 9. Return (same structure as before)\nreturn {\n  textForLLM,\n  structuredSummary,\n  text,\n  data: { text: textForLLM },\n  subject: $json.subject || $input.item?.json?.subject || 'No subject',\n  from: $json.from || $input.item?.json?.from || 'Unknown',\n  to: $json.to || $input.item?.json?.to || 'Unknown',\n  date: $json.date || $input.item?.json?.date || new Date().toISOString(),\n  extracted: extractedInfo,\n  linkMapping: linkCounter > 0 ? urlMap : null,\n  summary_attachments: \"No attachments for this email\",\n  stats: {\n    originalLength: rawText.length,\n    cleanLength: text.length,\n    llmLength: textForLLM.length,\n    reduction: Math.round((1 - textForLLM.length / rawText.length) * 100) + '%',\n    linkCount: linkCounter\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4224,
        336
      ],
      "id": "e14c0350-b14b-4e0d-a15a-6e4cc6fca46e",
      "name": "Clean Email object"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4480,
        672
      ],
      "id": "26b6b5aa-6bb3-43b1-ad0c-310d3a928b09",
      "name": "Loop Over Attachment Binaries"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GtcLjBMusAUB0h30",
          "mode": "list",
          "cachedResultUrl": "/workflow/GtcLjBMusAUB0h30",
          "cachedResultName": "any-file2json-converter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "binary_files",
              "displayName": "binary_files",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4224,
        672
      ],
      "id": "1db5d433-e586-44f8-af0e-0163fa91333f",
      "name": "Create Attachment Profile",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n        \"classification_rationale\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The logical reasoning and accounting principles used to determine the appropriate classification of this transaction\"\n\t\t},\t\n        \"type_of_document\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"What the document is informing the recipient about, causing a specific type of response. All documents can be considered relevant to a company's operations department or property or private events scheduling and management.\",\n            \"enum\" : [\"confirmation\", \"financial\", \"newsletter\", \"appointment\", \"marketing\", \"operational\", \"Other\"]\n\t\t},\n        \"requires_action\": {\n        \"type\": \"boolean\",\n        \"description\": \"Does this email require immediate action?\"\n        },\n        \"message\": {\n            \"type\": \"string\",\n\t\t\t\"description\": \"One sentence summary, purpose: Concise, actionable message for Telegram (max 100 chars)\"\n        },\n        \"sender\": {\n          \"type\": \"string\",\n          \"description\": \"Must be a legal person with a full name. Not allowed: companies or other suggested personal entities are not allowed.\"\n        },\n        \"length_insufficient\": {\n            \"type\": \"bool\",\n\t\t\t\"description\": \"If the text is interpreted as not the correct content, missing content indicated by messages shorter than 100 chars, this flag `length_insufficient` should be false. \"\n        }\n      \n\t},\n\t\"required\": [\n      \"sender\",\n      \"classification_rationale\",\n      \"type_of_document\",\n      \"message\",\n      \"requires_action\",\n      \"type_of_document\"\n\t]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3632,
        608
      ],
      "id": "d61cc3b7-cd9a-45c0-a209-707abe7106b8",
      "name": "output profile"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Trigger non-spam lineage",
      "typeVersion": 1,
      "position": [
        -3216,
        336
      ],
      "id": "8002d4a6-926f-4357-8b50-d2f813d8aea0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accounts }}",
                    "rightValue": "={{ $('Gmail').item.json.from.value[0].address }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "d5660317-6722-49c5-adf5-fd6bce026987"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3216,
        736
      ],
      "id": "facde472-f1fc-4906-9006-f66d9eeadfec",
      "name": "whitelist validator"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e51a7f2-4bda-4d41-895f-1bacac630ed9",
              "name": "Message",
              "value": "=EMAIL: completed\n---\nTitle ✍: {{ $('Set File ID').first().json.subject }}\nSender 📤: {{ $('Set File ID').all()[0].json.from.value[0].address }}\nFinished 🗄️: {{ $json.doc_type }}\n<mail-summary>\n{{$('subject-classifier-LM').item.json.output.message}}\n</mail-summary>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        928
      ],
      "id": "e427a373-9929-4bc4-a560-7c55043e1e0a",
      "name": "craft report note"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct-0905",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3936,
        1184
      ],
      "id": "1fa5df01-f254-4b0c-b5f2-c25097d5377a",
      "name": "any LM1",
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"accounting_category\": {\n      \"type\": \"string\",\n      \"enum\": [\"Revenue\", \"Expense\"],\n      \"description\": \"Revenue = we bill customers; Expense = we pay suppliers\"\n    },\n    \"document_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"Invoice\", \"Receipt\"],\n      \"description\": \"Invoice = formal billing; Receipt = payment proof\"\n    },\n    \"year\": {\n      \"type\": \"integer\",\n      \"description\": \"Year from document date\"\n    },\n    \"month\": {\n      \"type\": \"integer\",\n      \"description\": \"Month from document date (1-12)\"\n    },\n    \"invoice_data\": {\n      \"type\": \"object\",\n      \"description\": \"Extracted invoice fields in snake_case\",\n      \"additionalProperties\": true\n    }\n  },\n  \"required\": [\"accounting_category\", \"document_type\", \"year\", \"month\", \"invoice_data\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3792,
        1184
      ],
      "id": "25a31f7e-fd4b-48d3-b26e-437deb46e57f",
      "name": "Structured output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e489f8d0-446e-464b-9446-ae9b4078b32e",
              "name": "month",
              "value": "={{ ['', '01_January', '02_February', '03_March', '04_April', '05_May', '06_June', '07_July', '08_August', '09_September', '10_October', '11_November', '12_December'][$json.output.month] }}",
              "type": "string"
            },
            {
              "id": "77d51103-cc09-473b-9898-a8a89ab90a7f",
              "name": "accounting_category",
              "value": "={{ $json.output.accounting_category }}",
              "type": "string"
            },
            {
              "id": "088d52d1-02c6-4acf-bef6-f37a002d24c7",
              "name": "doc_type",
              "value": "={{ $json.output.document_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3536,
        1168
      ],
      "id": "52ca50af-d13e-490e-9d18-f1eb79ff1b19",
      "name": "input folder lookup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c259a48-b3c0-4d98-a5b0-bc81786bc978",
              "name": "file1",
              "value": "={{ $('Get binary data').item.json.binary_files[\n  $('loop invoices').item.json['processed_attachments.data'].attachmentNames[0]\n] }}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2992,
        1296
      ],
      "id": "4746f644-6638-40c8-9d61-de801740157c",
      "name": "Get binary data2"
    },
    {
      "parameters": {
        "content": "# attachment processer\nNodes 7-14",
        "height": 608,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4768,
        288
      ],
      "typeVersion": 1,
      "id": "8db79f1b-c3b3-45d9-acb3-d1dbf5549478",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# E-Mail trigger\nNodes 1-6",
        "height": 896,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5248,
        288
      ],
      "typeVersion": 1,
      "id": "aba2bb55-a19c-423a-91b7-d6b3b498452f",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# subject classifier\nNodes 15-22",
        "height": 608,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3808,
        288
      ],
      "typeVersion": 1,
      "id": "d7bf3e74-ebba-434b-97e5-5fa4106b62ec",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "#  Invoices & Receipts\nNodes 23-34",
        "height": 464,
        "width": 1696,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4768,
        928
      ],
      "typeVersion": 1,
      "id": "155a7695-ad4c-4557-b152-b92ebe5d2d68",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "fieldToSplitOut": "processed_attachments.data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4480,
        1200
      ],
      "id": "85e36b85-312c-499c-9ac7-c30fb115b39f",
      "name": "new section"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{[\"appointment\"]}}",
                    "rightValue": "={{ $json.output.type_of_document }}",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    },
                    "id": "d5660317-6722-49c5-adf5-fd6bce026987"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3424,
        336
      ],
      "id": "71ce604f-05ed-449d-b2df-026214ff69fa",
      "name": "appointment router"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail').first().json.id }}",
        "labelIds": [
          "Label_82"
        ]
      },
      "id": "2962de2b-4c57-4936-add7-786a561d71ac",
      "name": "Tag Mail with 'n8n'",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3216,
        496
      ],
      "webhookId": "95bd2028-a0fa-481c-b8df-72bb4a2b225c",
      "credentials": {
        "gmailOAuth2": {
          "id": "F3cQVIbokuyDLVR2",
          "name": "Google_0Auth"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3776,
        608
      ],
      "id": "5ba47fe9-262a-48a5-b7ea-f32c374f2dc6",
      "name": "Any LM",
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail').item.json.id }}",
        "labelIds": [
          "Label_83"
        ]
      },
      "id": "92b1d54d-487b-4a24-bd96-24d0f7eaf145",
      "name": "Mark as Processed1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3264,
        976
      ],
      "webhookId": "95bd2028-a0fa-481c-b8df-72bb4a2b225c",
      "credentials": {
        "gmailOAuth2": {
          "id": "F3cQVIbokuyDLVR2",
          "name": "Google_0Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ultra-Aggressive Email Text Cleaner for n8n\n// + Aggregates all results into single output\n// + Includes pairedItem for downstream node references\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const $json = item.json;\n\n  let rawText = '';\n\n  if ($json.text) {\n    rawText = $json.text;\n  } else if ($json.data && $json.data.text) {\n    rawText = $json.data.text;\n  } else if ($json['data.text']) {\n    rawText = $json['data.text'];\n  }\n\n  if (!rawText || rawText.trim().length === 0) {\n    results.push({\n      error: 'No text content found',\n      paths_checked: ['$json.text', '$json.data.text', '$json[\"data.text\"]'],\n      available_keys: Object.keys($json || {})\n    });\n    continue;\n  }\n\n  const attachmentNames = item.binary ? Object.keys(item.binary) : [];\n\n  let text = rawText\n    .normalize('NFD')\n    .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, ' ')\n    .replace(/[\\u200B-\\u200F\\u2028-\\u202F\\u205F-\\u206F]/g, ' ')\n    .replace(/[\\uFEFF\\u034F\\u00AD]/g, ' ')\n    .replace(/[\\u00A0\\u1680\\u180E\\u2000-\\u200A\\u3000]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .split('\\n')\n    .map(line => line.trim())\n    .join('\\n');\n\n  const urlRegex = /https?:\\/\\/[^\\s\\[\\]\\(\\)<>]+/gi;\n  const imageRegex = /\\[?https?:\\/\\/[^\\]]*\\.(jpg|jpeg|png|gif|svg|webp)[^\\]]*\\]?/gi;\n\n  text = text.replace(imageRegex, ' ');\n\n  const urls = text.match(urlRegex) || [];\n  const uniqueUrls = [...new Set(urls)];\n  const urlMap = {};\n\n  uniqueUrls.forEach((url, i) => {\n    const linkId = '[Link' + (i + 1) + ']';\n    urlMap[linkId] = url;\n    const escapedUrl = url.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n    text = text.replace(new RegExp(escapedUrl, 'g'), linkId);\n  });\n\n  text = text\n    .replace(/\\s+([.,;!?])/g, '$1')\n    .replace(/([.,;!?])\\s*([a-z])/g, '$1 $2')\n    .replace(/\\s+/g, ' ')\n    .replace(/([a-z])\\s*\\n\\s*([a-z])/g, '$1 $2')\n    .replace(/([.!?])\\s*([A-Z])/g, '$1\\n$2');\n\n  text = text\n    .replace(/\\[\\s*\\]/g, '')\n    .replace(/\\s*\\[\\s*/g, ' [')\n    .replace(/\\s*\\]\\s*/g, '] ')\n    .replace(/\\s+/g, ' ');\n\n  const lines = text.split('\\n');\n  const formattedLines = [];\n  let currentParagraph = '';\n\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (trimmed.length === 0) continue;\n\n    const isNewSection = /^(Hallo|Lieber|Sehr geehrte|Details|Bestellung|Noch Fragen|Freundliche|Angebot von|Lieferadresse|Paketversand)/i.test(trimmed);\n    const isCompleteSentence = /^[A-Z].*[.!?]$/.test(trimmed) && currentParagraph.length > 50;\n\n    if (isNewSection || isCompleteSentence) {\n      if (currentParagraph) {\n        formattedLines.push(currentParagraph.trim());\n      }\n      currentParagraph = trimmed;\n    } else {\n      currentParagraph = currentParagraph ? currentParagraph + ' ' + trimmed : trimmed;      \n    }\n  }\n  if (currentParagraph) {\n    formattedLines.push(currentParagraph.trim());\n  }\n\n  text = formattedLines.join('\\n\\n');\n\n  const extractedInfo = {\n    orderNumber: null,\n    trackingNumber: null,\n    product: null,\n    deliveryAddress: null,\n    amounts: [],\n    dates: []\n  };\n\n  const orderMatch = text.match(/(?:Bestellung|Order|Auftrag)[\\s#:]*(\\d{6,})/i);\n  if (orderMatch) {\n    extractedInfo.orderNumber = orderMatch[1];\n  }\n\n  const numbers = text.match(/\\b\\d{10,20}\\b/g) || [];\n  extractedInfo.trackingNumber = numbers.find(n => n !== extractedInfo.orderNumber) || null; \n\n  const productMatch = text.match(/tomtoc[^[]*?(?=\\[|$)/i);\n  if (productMatch) {\n    extractedInfo.product = productMatch[0].trim();\n  }\n\n  const addressMatch = text.match(/Lieferadresse\\s*([^[]+?)(?=Paket|\\[|$)/i);\n  if (addressMatch) {\n    extractedInfo.deliveryAddress = addressMatch[1].trim();\n  }\n\n  const dateMatches = text.match(/\\d{1,2}[.\\/-]\\d{1,2}[.\\/-]\\d{2,4}/g);\n  if (dateMatches) {\n    extractedInfo.dates = dateMatches;\n  }\n\n  const textForLLM = text\n    .replace(/\\[Link\\d+\\]/g, '')\n    .replace(/\\[\\]/g, '')\n    .replace(/\\s+/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  const attachmentList = attachmentNames.length > 0\n    ? attachmentNames.join(', ')\n    : 'No attachments';\n\n  const structuredSummary = 'ORDER DETAILS:\\n' +\n    '- Order Number: ' + (extractedInfo.orderNumber || 'Not found') + '\\n' +\n    '- Tracking: ' + (extractedInfo.trackingNumber || 'Not found') + '\\n' +\n    '- Product: ' + (extractedInfo.product || 'Not found') + '\\n' +\n    '- Delivery Address: ' + (extractedInfo.deliveryAddress || 'Not found') + '\\n' +\n    '- Order Date: ' + (extractedInfo.dates[0] || 'Not found') + '\\n' +\n    '- Attachments: ' + attachmentList + '\\n\\n' +\n    'ORIGINAL MESSAGE:\\n' + textForLLM;\n\n  const metadata = {\n    subject: $json.subject || 'No subject',\n    from: $json.from || 'Unknown',\n    to: $json.to || 'Unknown',\n    date: $json.date || new Date().toISOString()\n  };\n\n  results.push({\n    attachmentNames: attachmentNames,\n    textForLLM: textForLLM,\n    structuredSummary: structuredSummary,\n    text: text,\n    data: {\n      text: textForLLM\n    },\n    subject: metadata.subject,\n    from: metadata.from,\n    to: metadata.to,\n    date: metadata.date,\n    extracted: extractedInfo,\n    linkMapping: Object.keys(urlMap).length > 0 ? urlMap : null,\n    stats: {\n      originalLength: rawText.length,\n      cleanLength: text.length,\n      llmLength: textForLLM.length,\n      reduction: Math.round((1 - textForLLM.length / rawText.length) * 100) + '%',\n      linkCount: Object.keys(urlMap).length\n    }\n  });\n}\n\n// Return aggregated result WITH pairedItem data\nreturn [{\n  json: {\n    data: results\n  },\n  pairedItem: items.map((item, index) => ({ item: index }))\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4224,
        496
      ],
      "id": "e48ac9d9-ed1e-4b6b-95b2-99f38c1af736",
      "name": "Build Attachment Profiles"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Stop promotions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Get binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get binary data": {
      "main": [
        [
          {
            "node": "Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop promotions": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "financial doc router": {
      "main": [
        [
          {
            "node": "user_email_whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty?": {
      "main": [
        [
          {
            "node": "Clean Email object",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Google Drive Folder ID Lookup'": {
      "main": [
        [
          {
            "node": "Get binary data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sp": {
      "main": [
        [
          {
            "node": "Loop Over Attachment Binaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_email_whitelist": {
      "main": [
        [
          {
            "node": "whitelist validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "subject-classifier-LM": {
      "main": [
        [
          {
            "node": "financial doc router",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tag Mail with 'n8n'",
            "type": "main",
            "index": 0
          },
          {
            "node": "appointment router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accountant-concierge-LM": {
      "main": [
        [
          {
            "node": "input folder lookup",
            "type": "main",
            "index": 0
          },
          {
            "node": "insert doc record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare attachment meta": {
      "main": [
        [
          {
            "node": "new section",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Attachment Binaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop invoices": {
      "main": [
        [
          {
            "node": "craft report note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Accountant-concierge-LM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attachement_as_text": {
      "main": [
        [
          {
            "node": "subject-classifier-LM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save doc to folder": {
      "main": [
        []
      ]
    },
    "Clean Email object": {
      "main": [
        [
          {
            "node": "subject-classifier-LM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Attachment Binaries": {
      "main": [
        [
          {
            "node": "Build Attachment Profiles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Attachment Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Attachment Profile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output profile": {
      "ai_outputParser": [
        [
          {
            "node": "subject-classifier-LM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "whitelist validator": {
      "main": [
        [
          {
            "node": "prepare attachment meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "craft report note": {
      "main": [
        [
          {
            "node": "Telegram & done",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as Processed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "any LM1": {
      "ai_languageModel": [
        [
          {
            "node": "Accountant-concierge-LM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured output": {
      "ai_outputParser": [
        [
          {
            "node": "Accountant-concierge-LM",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "input folder lookup": {
      "main": [
        [
          {
            "node": "Call 'Google Drive Folder ID Lookup'",
            "type": "main",
            "index": 0
          },
          {
            "node": "loop invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get binary data2": {
      "main": [
        [
          {
            "node": "save doc to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new section": {
      "main": [
        [
          {
            "node": "loop invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "appointment router": {
      "main": [
        [
          {
            "node": "Trigger non-spam lineage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Mail with 'n8n'": {
      "main": [
        [
          {
            "node": "notify rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any LM": {
      "ai_languageModel": [
        [
          {
            "node": "subject-classifier-LM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Build Attachment Profiles": {
      "main": [
        [
          {
            "node": "attachement_as_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}