projects/n8n/10_steward/workflows/menu-handler.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        8720,
        3648
      ],
      "id": "756266fc-787c-4fe7-b908-2d153548989e",
      "name": "Telegram Trigger",
      "webhookId": "daily-briefing-menu-handler",
      "credentials": {
        "telegramApi": {
          "id": "OiAg5ImWe61JXymC",
          "name": "n8n_house_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "whitelist-check",
              "leftValue": "={{ String($json.callback_query?.from?.id ?? $json.message?.from?.id ?? '') }}",
              "rightValue": "^(YOUR_CHAT_ID_1|YOUR_CHAT_ID_2)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8928,
        3664
      ],
      "id": "21fc2941-9541-40bd-934d-f05ded7688c4",
      "name": "Whitelist",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const cb = $json.callback_query;\nconst msg = $json.message;\nconst chatInput = $json.chatInput;\n\nconst knownActions = ['expenses', 'learning', 'deals'];\nlet action = 'chat';\nlet chatId = '';\nlet text = '';\n\nif (chatInput) {\n  // n8n Chat Trigger → always free text for AI Classifier\n  text = chatInput.trim();\n  chatId = 'n8n-chat';\n} else if (cb) {\n  const data = cb.data || '';\n  const extracted = data.includes(':') ? data.split(':')[1] : data;\n  chatId = String(cb.message?.chat?.id || '');\n\n  if (knownActions.includes(extracted)) {\n    action = extracted;\n  } else {\n    // Unknown button → free text to AI Classifier\n    text = extracted;\n  }\n} else if (msg) {\n  chatId = String(msg.chat?.id || '');\n  const raw = (msg.text || '').trim();\n  if (raw.startsWith('/')) {\n    const parts = raw.substring(1).split(/\\s+/);\n    const cmd = parts[0].toLowerCase();\n    if (knownActions.includes(cmd)) {\n      action = cmd;\n    }\n    text = parts.slice(1).join(' ');\n  } else {\n    text = raw;\n  }\n}\n\nreturn [{ json: { action, chatId, text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9120,
        3760
      ],
      "id": "94110c9a-e70a-4a35-a1fa-055768533bb0",
      "name": "Normalize"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-expenses",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "expenses",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "expenses"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-learning",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "learning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "learning"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-deals",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deals",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deals"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "route-chat",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        9328,
        3712
      ],
      "id": "5e349338-c82d-4cf6-a3a1-679dad5456c9",
      "name": "Route"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HE11BD1klK-9ru2moDB70",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        9952,
        3696
      ],
      "id": "a0e8c921-08ea-4f20-859b-3e1f6a2076b6",
      "name": "Call Expenses"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ /* learning-notes workflow ID — update after import */ '' }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        9744,
        3712
      ],
      "id": "c7116494-e0d5-4662-b83f-1ae79b44b28b",
      "name": "Call Learning Notes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ /* deal-finder workflow ID — update after import */ '' }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        9568,
        3760
      ],
      "id": "92fe835d-41a5-4801-ba8f-e968e3f4bf70",
      "name": "Call Deal Finder"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a routing agent that analyzes user queries and decides which AI system should handle them.\n\nAnalyze the following user input and determine the best routing:\n\nUser Input: {{ $json.text }}\n\nRouting Options:\n- output_type 0: Groq Reasoning (for AI reasoning, analysis, creative writing, coding, complex problem solving)\n- output_type 1: Brave Search (for simple factual lookups, \"what is\", \"who is\", basic search queries)\n- output_type 2: Perplexity (for research, analysis, comparisons, investigations, comprehensive studies)\n\nProvide your routing decision with reasoning.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        9296,
        3984
      ],
      "id": "de46fe69-de1e-41a7-b3c2-332c87038e99",
      "name": "AI Classifier"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        9296,
        4176
      ],
      "id": "bb5dc33a-944e-437a-878a-bfdf75fd2572",
      "name": "Groq Classifier LLM",
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"output_type\": {\n\t\t\t\"type\": \"integer\",\n\t\t\t\"enum\": [0, 1, 2],\n\t\t\t\"description\": \"Which output to route to: 0=Groq Reasoning, 1=Brave Search, 2=Perplexity\"\n\t\t},\n\t\t\"query\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The original user query/input\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief explanation of why this route was chosen\"\n\t\t},\n\t\t\"route_name\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"groq_reasoning\", \"brave_search\", \"perplexity\"],\n\t\t\t\"description\": \"Human-readable name of the chosen route\"\n\t\t}\n\t},\n\t\"required\": [\n\t\t\"output_type\",\n\t\t\"query\",\n\t\t\"reasoning\",\n\t\t\"route_name\"\n\t]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        9424,
        4176
      ],
      "id": "94b2eb32-3622-4fb6-a45d-80826290b229",
      "name": "Classifier Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.output_type }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.output_type }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.output_type }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        9632,
        3968
      ],
      "id": "1cdc9c5d-7fa2-4d08-b8c0-2f2fd80e967f",
      "name": "LLM Route"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node['AI Classifier'].json.output.query }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        9856,
        3856
      ],
      "id": "035f3fed-c25a-4a27-977c-700f8545101b",
      "name": "Groq Reasoning"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        9856,
        4032
      ],
      "id": "929c9914-1217-4860-b08c-8259cad0e44f",
      "name": "Groq Reasoning LLM",
      "credentials": {
        "groqApi": {
          "id": "sue07pcKIgrn1xhP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.search.brave.com/res/v1/web/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node['AI Classifier'].json.output.query }}"
            },
            {
              "name": "count",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9856,
        4160
      ],
      "id": "41b1dac7-daa6-4486-aabe-f9142943c3fe",
      "name": "Brave Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7QCzZjFHSrLnxyxs",
          "name": "Brave-X-Subscription-Token"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ $node['AI Classifier'].json.output.query }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        9856,
        4352
      ],
      "id": "daf3c0c5-8ffa-40d5-ab86-9516fe0b10a3",
      "name": "Perplexity Research",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Menu Handler\n\nAlways-on workflow. Hub-and-spoke architecture:\n- **Buttons** and **/commands** route deterministically to subworkflows\n- **Free text** (no slash prefix) falls through to the LLM classifier\n\n### Setup\n1. **Whitelist**: Open the Whitelist node and replace `YOUR_CHAT_ID_1|YOUR_CHAT_ID_2` in the regex with your real Telegram user IDs (pipe-separated). To find your ID: search `@userinfobot` in Telegram, open a chat with it, send any message — it replies with your user ID.\n2. **Subworkflows**: Update the 3 Execute Workflow node IDs to point to the actual subworkflow IDs in your n8n instance.\n3. **Credentials**: Set Groq, Perplexity, and Telegram credential IDs.\n4. **Brave Search credential**: In n8n, go to **Credentials → Add Credential → Header Auth** — set Name: `X-Subscription-Token`, Value: your API key from [brave.com/search/api](https://brave.com/search/api/).",
        "height": 548,
        "width": 444
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8224,
        3648
      ],
      "id": "4502a13c-86c5-4d27-8247-d390de6580cb",
      "name": "Sticky Note - Overview"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        8720,
        3792
      ],
      "id": "dd0f0bb0-9a5c-4579-98ad-e7cfb4b53407",
      "name": "Chat Trigger",
      "webhookId": "d58e7b3f-6c26-4209-a5d2-3b1473741293"
    },
    {
      "parameters": {
        "jsCode": "// Format all LLM route responses into unified output\nconst data = $input.first().json;\nconst classifier = $node['AI Classifier'].json.output;\nconst chatId = $node['Normalize'].json.chatId;\n\nlet response = '';\n\nif (data.web && data.web.results !== undefined) {\n  // Route 1: Brave Search\n  const results = data.web.results || [];\n  response = `\\u{1F50D} *Brave Search Results* (${classifier.reasoning})\\n\\n`;\n  if (results.length > 0) {\n    results.slice(0, 5).forEach((item, index) => {\n      response += `${index + 1}. *${item.title}*\\n`;\n      response += `   ${item.description}\\n`;\n      response += `   ${item.url}\\n\\n`;\n    });\n  } else {\n    response += 'No search results found.';\n  }\n} else if (data.choices && data.choices[0]) {\n  // Route 2: Perplexity\n  response = data.choices[0].message.content || 'No research results.';\n} else {\n  // Route 0: Groq Reasoning\n  response = data.text || data.response || 'No response generated.';\n}\n\nreturn [{ json: { response, chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10144,
        4160
      ],
      "id": "a3a5ce05-f339-423b-b35e-e11d37ee90d7",
      "name": "Format Response"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        10368,
        4160
      ],
      "id": "85d63d7d-2691-4d12-a879-21c6783cd497",
      "name": "Send Reply",
      "webhookId": "b14685ea-4835-4e62-9487-9a19a827cf78",
      "credentials": {
        "telegramApi": {
          "id": "OiAg5ImWe61JXymC",
          "name": "n8n_house_bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whitelist": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Call Expenses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Learning Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Deal Finder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Classifier": {
      "main": [
        [
          {
            "node": "LLM Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Classifier LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LLM Route": {
      "main": [
        [
          {
            "node": "Groq Reasoning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Brave Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Reasoning": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Reasoning LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Reasoning",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Brave Search": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "update_id": 902041225,
        "message": {
          "message_id": 1094,
          "from": {
            "id": 7582730035,
            "is_bot": false,
            "first_name": "David",
            "last_name": "Stre",
            "language_code": "en"
          },
          "chat": {
            "id": 7582730035,
            "first_name": "David",
            "last_name": "Stre",
            "type": "private"
          },
          "date": 1770037039,
          "text": "Whats last news on srf?"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}