projects/n8n/10_steward/workflows/menu-handler.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        300
      ],
      "id": "mh100001-0001-0001-0001-000000000001",
      "name": "Telegram Trigger",
      "webhookId": "daily-briefing-menu-handler",
      "credentials": {
        "telegramApi": {
          "id": "CREDENTIAL_ID_TELEGRAM",
          "name": "n8n_house_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whitelist-check",
              "leftValue": "={{ String($json.callback_query.from.id) }}",
              "rightValue": "^(YOUR_CHAT_ID_1|YOUR_CHAT_ID_2)$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        300
      ],
      "id": "mh100001-0001-0001-0001-000000000002",
      "name": "Whitelist"
    },
    {
      "parameters": {
        "jsCode": "const callbackData = $json.callback_query.data || '';\nconst action = callbackData.startsWith('briefing:') \n  ? callbackData.split(':')[1] \n  : '';\n\nconst chatId = $json.callback_query.message.chat.id;\n\nreturn [{ json: { action, chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ],
      "id": "mh100001-0001-0001-0001-000000000003",
      "name": "Parse"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "expenses",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "expenses"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "learning",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "learning"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deals",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "deals"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "runfish",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "runfish"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        280,
        300
      ],
      "id": "mh100001-0001-0001-0001-000000000005",
      "name": "Route"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HE11BD1klK-9ru2moDB70",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        520,
        100
      ],
      "id": "mh100001-0001-0001-0001-000000000006",
      "name": "Call Expenses"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ /* learning-notes workflow ID — update after import */ '' }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        520,
        280
      ],
      "id": "mh100001-0001-0001-0001-000000000007",
      "name": "Call Learning Notes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ /* deal-finder workflow ID — update after import */ '' }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        520,
        460
      ],
      "id": "mh100001-0001-0001-0001-000000000008",
      "name": "Call Deal Finder"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ /* runfish-inbox workflow ID — update after import */ '' }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        520,
        640
      ],
      "id": "mh100001-0001-0001-0001-000000000009",
      "name": "Call Mr. Runfish"
    },
    {
      "parameters": {
        "content": "## Menu Handler\n\nAlways-on workflow. Listens for Telegram inline button taps from the daily briefing message.\n\n**Whitelist**: Only chat IDs YOUR_CHAT_ID_1 and YOUR_CHAT_ID_2 are accepted.\n\n**After import**: Update the 4 Execute Workflow node IDs to point to the actual subworkflow IDs in your n8n instance.",
        "height": 220,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -600,
        40
      ],
      "id": "mh100001-0001-0001-0001-000000000010",
      "name": "Sticky Note - Overview"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whitelist": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Call Expenses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Learning Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Deal Finder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Mr. Runfish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}
