projects/n8n/03_inbox-attachment-organizer/workflows/subworkflows/any-file2json-converter.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "f72ad22b-3d49-4075-984f-7494a4ff3ab1",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        624
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "8beef502-a529-49c2-9df5-813f5d8d12c3",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        176
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ac79b3e6-6c10-410b-b7d6-759d00320cd0",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        576,
        768
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "74b4b3aa-b4d4-4e0e-91ee-633a4b786e84",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        800,
        768
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e3a4d243-5c9e-4363-aeda-4afe1afab79e",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "59677ac7-7038-4f77-94a3-69df1b6544a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7c8331d-3ac1-43cb-9774-9f18cda2abc4",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/json",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f30330d4-a83c-4e9e-9a0b-7de8a1767dc2",
                    "leftValue": "={{ $json.binary_files.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "81bcbbb4-5644-4aa8-ba58-1275cf8fdb6a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        32,
        160
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "6f37529e-f5f8-4482-a870-00591da4cd50",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        912
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        768
      ],
      "id": "7bdd8044-470a-471f-912b-cac018ced795",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"binary_files\": \n      {\n        \"attachment_0\": \n          {\n          \"mimeType\": \"image/jpeg\",\n          \"fileType\": \"pdf\",\n          \"fileExtension\": \"pdf\",\n          \"data\": \"%PDF-1.0\\ntrailer<</Root<</Pages<</Kids[<</MediaBox[0 0 3 3]>>]>>>>>>\",\n          \"fileName\": \"image001.jpg\",\n          \"fileSize\": \"6.68 kB\"\n            },\n            \"attachment_1\": \n            {\n            \"mimeType\": \"image/png\",\n            \"fileType\": \"image\",\n            \"fileExtension\": \"png\",\n            \"data\": \"iVBORw0KGgoAA...LVhj9+RyLCNqAoieyMiClpEFLSIiChoEVHQIv6n+GcAG8nxS438B1wAAAAASUVORK5CYII=\",\n            \"fileName\": \"image002.png\",\n            \"fileSize\": \"6.07 kB\"\n            }\n      },\n  \"data\": {\"key0\":\"val0\"},\n  \"metadata\": \n  {\n  \"file_id\": \"1968dc035a3f7f40\",\n  \"file_type\": \"gmail\",\n  \"file_title\": \"Google Cloud Platform & APIs: Your invoice is available for 01E17F-79B946-1695E2\",\n  \"file_url\": \"Null\"\n  }\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        160
      ],
      "id": "e822dc9c-d25f-4270-b60f-513dabf933ab",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d783b0b2-3058-49db-a543-0a405c5d815e",
              "name": "data.text",
              "value": "={{ typeof $json.text === 'string' ? $json.text : JSON.stringify($json.output || $json) }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-content-class",
              "name": "data.content_class",
              "value": "={{ $json.output?.content_class || $json.content_class || 'UNK' }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-class-confidence",
              "name": "data.class_confidence",
              "value": "={{ $json.output?.class_confidence ?? $json.class_confidence ?? 'UNK' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        176
      ],
      "id": "43e59e18-b87a-4245-969e-063a9eaa6194",
      "name": "Return node"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 460
      },
      "id": "0546a7b5-ef13-42c0-ae81-2feb66891297",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1V4ZuvFi_c1X7jn6fGmRlZ6q_5CYTQ9G7/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "id": "b7eb4569-ef1f-437f-a5a9-10f0f1c79734",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        368
      ],
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Use case",
        "height": 188,
        "width": 460
      },
      "id": "7150e585-10d9-4f44-be34-bbf40800b750",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0f3b91a-7b54-4e67-b484-95f7aad5e736",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        640,
        -32
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "kmqRSsOartR5rGAD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"content_class\": {\n      \"type\": \"string\",\n      \"enum\": [\"primary_document\", \"style_element\", \"unclassified\"]\n    },\n    \"class_confidence\": {\n      \"type\": \"number\"\n    }\n  },\n  \"required\": [\"content_class\", \"class_confidence\"],\n  \"additionalProperties\": true\n}"
      },
      "id": "ec63c11c-dc82-4a94-b1bb-3785e8e6a02e",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        512,
        -32
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extract all data from this document.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a Document Data Extractor. Given a document image, extract all visible information into a structured JSON object.\n\n**Output Requirements:**\n- Respond with ONLY the JSON object. No explanations or other text.\n- If no readable content exists, respond with: {}\n\n**Classification (REQUIRED):**\nAlways include these two fields:\n- content_class: \"primary_document\" (text-heavy document needing storage: invoices, receipts, contracts, letters) | \"style_element\" (logos, signatures, banners, decorative images) | \"unclassified\" (doesn't fit either)\n- class_confidence: 0.0 to 1.0 (your confidence in the classification)\n\n**Key Naming Rules:**\n1. Use `snake_case` in English\n2. Derive keys from visible labels (e.g., \"Invoice #:\" → `invoice_number`, \"Date:\" → `date`)\n3. For unlabeled data, create descriptive `snake_case` keys\n4. Prefix uncertain mappings with `uncertain_`\n5. Omit keys for missing information—never invent data"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "af1c3813-8d49-4fc7-91a4-2688641ce4b1",
      "name": "Image-to-text",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        512,
        -192
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "borderWidth": 1,
        "borderHeight": 1,
        "options": {
          "fileName": "data"
        }
      },
      "id": "076894c0-160f-4cb0-bbfb-46ed4c5ed234",
      "name": "conversion",
      "type": "n8n-nodes-base.editImage",
      "position": [
        320,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return $input.all().flatMap(item => \n    item.binary ? Object.keys(item.binary).map(key => ({\n        json: item.json, // This preserves ALL original JSON data\n        binary: { data: item.binary[key] }\n    })) : [item]\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        160
      ],
      "id": "1c3b43bd-557b-45ea-9528-9a05b57de1e9",
      "name": "(File-rename)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0af57e1c-21ab-433b-a109-3e21070857a2",
              "name": "binary_files",
              "value": "={{ $input.item.binary.data || JSON.parse('{\\\"message\\\": \\\"No binary Attachment\\\"}') }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        368
      ],
      "id": "9da8e8c4-be43-41d7-a056-9b7cebdc8361",
      "name": "Extract Binary Data",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        368
      ],
      "id": "ed865f27-548d-4add-b354-73e5374cb4f8",
      "name": "Testing n8n sub-workflow",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\nThis node requires an LLM API which accpets images. Google works nicely, leave this model if possible.",
        "height": 224,
        "width": 272,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        -48
      ],
      "id": "86bbe6f1-8ee2-4d35-b82c-c3901e8e8ff5",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "\n# · image OCR\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n```\n```\n# · pdf\n\n\n\n\n\n\n\n\n```\n```\n# · json\n\n\n\n\n\n\n\n\n```\n```\n# · csv / excel / etc.\n\n\n\n\n\n",
        "height": 1320,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -256
      ],
      "id": "72a8ee4d-1d2e-4bc6-8c49-d289395397a0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Optional:** LLM confidence scoring via `class_confidence` field. See `docs/observability-through-llm-confidence-estimate.md`",
        "height": 80,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        96
      ],
      "id": "b1f07266-5f5a-490f-bc3a-9927ca7acc68",
      "name": "Confidence Note"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "=data",
        "destinationKey": "data.unpacked",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        448,
        384
      ],
      "id": "ec0401b7-c4ab-43c4-a589-35e516c2a4fa",
      "name": "Extract from JSON",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Any-file2json \n## converter",
        "height": 1344,
        "width": 1264,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -272
      ],
      "typeVersion": 1,
      "id": "85fa3e42-f8df-477f-bf21-04e7672b604f",
      "name": "Sticky Note10"
    }
  ],
  "connections": {
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "conversion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "(File-rename)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Extract Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image-to-text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Image-to-text",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Image-to-text": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conversion": {
      "main": [
        [
          {
            "node": "Image-to-text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(File-rename)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Binary Data": {
      "main": [
        [
          {
            "node": "(File-rename)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testing n8n sub-workflow": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from JSON": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}