projects/n8n/03_inbox-attachment-organizer/workflows/subworkflows/google-drive-folder-id-recursion.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "folder_id"
            },
            {
              "name": "folder_path"
            },
            {
              "name": "target_path"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -800
      ],
      "id": "df3dd94f-f7d0-4990-9be8-215f2ff3344b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -816,
        -800
      ],
      "id": "293cf6ac-bf4d-423a-8e87-9348ed7c282b",
      "name": "Query Google Drive1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HwaWjD4xhGV5dH9Q",
          "name": "Google Drive Sheets & OAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-children",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -592,
        -800
      ],
      "id": "f2a609c1-1d0e-4030-adbb-c8ab7f65b477",
      "name": "Has Children?1"
    },
    {
      "parameters": {
        "jsCode": "// Prepare children with their full paths\nconst items = $input.all();\nconst parentId = $('When Executed by Another Workflow').item.json.folder_id;\nconst parentPath = $('When Executed by Another Workflow').item.json.folder_path;\nconst targetPath = $('When Executed by Another Workflow').item.json.target_path;\n\nconst children = {};\nconst childrenForRecursion = [];\n\nfor (const item of items) {\n  const childId = item.json.id;\n  const childName = item.json.name;\n  const childPath = parentPath + '/' + childName;\n  \n  // Store child as name: id\n  children[childName] = childId;\n  \n  // Only recurse into children that are on the path to target or might contain it\n  if (targetPath.startsWith(childPath)) {\n    childrenForRecursion.push({\n      child_name: childName,  // Added this!\n      folder_id: childId,\n      folder_path: childPath,\n      target_path: targetPath\n    });\n  }\n}\n\n// Cache data\nconst cacheData = {\n  folder_id: parentId,\n  folder_path: parentPath,\n  children: children,\n  last_updated: new Date().toISOString()\n};\n\nreturn {\n  cache_entry: cacheData,\n  recursion_targets: childrenForRecursion\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -896
      ],
      "id": "5f0c4f8e-d5e2-4500-aad3-0f6e2561a0bf",
      "name": "Prepare Cache & Recurse1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16vuiDJEZz3EOMN-8z7CF_1ENDWzjfORyykFNxqhGOWE",
          "mode": "list",
          "cachedResultName": "PathToIDLookup",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vuiDJEZz3EOMN-8z7CF_1ENDWzjfORyykFNxqhGOWE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16vuiDJEZz3EOMN-8z7CF_1ENDWzjfORyykFNxqhGOWE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "={{ $json.cache_entry.folder_path }}",
            "child_ids": "={{ $json.cache_entry.children.toJsonString() }}",
            "folder_id": "={{ $json.cache_entry.folder_id }}",
            "last_update": "={{ $json.cache_entry.last_updated }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "folder_id",
              "displayName": "folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "child_ids",
              "displayName": "child_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_update",
              "displayName": "last_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -144,
        -992
      ],
      "id": "0231b393-c815-431c-aa5e-31b39628894d",
      "name": "Update Cache1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "O03W9YZyCWUacxnv",
          "name": "GoogleDriveMAIN"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "filter-for-recursion",
              "name": "folder_id",
              "value": "={{ $json.cache_entry.children[$json.recursion_targets[0].child_name] }}",
              "type": "string"
            },
            {
              "id": "filter-path",
              "name": "folder_path",
              "value": "={{ $json.recursion_targets[0].folder_path }}",
              "type": "string"
            },
            {
              "id": "filter-target",
              "name": "target_path",
              "value": "={{ $json.recursion_targets[0].target_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -800
      ],
      "id": "244974fa-ee68-46d4-ac3f-b61a039b8554",
      "name": "Filter for Recursion1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VzWAdxUdTKRfcUSh",
          "mode": "list",
          "cachedResultUrl": "/workflow/VzWAdxUdTKRfcUSh",
          "cachedResultName": "Subworkflow - Recursive Folder Tree Walker"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folder_id": "={{ $json.folder_id }}",
            "folder_path": "={{ $json.folder_path }}",
            "target_path": "={{ $json.target_path }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "folder_id",
              "displayName": "folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "folder_path",
              "displayName": "folder_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "target_path",
              "displayName": "target_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        -800
      ],
      "id": "5ad34d87-dda9-4f3f-9fb8-8b212051e813",
      "name": "Recurse1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "leaf-id",
              "name": "folder_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.folder_id }}",
              "type": "string"
            },
            {
              "id": "leaf-path",
              "name": "folder_path",
              "value": "={{ $('When Executed by Another Workflow').item.json.folder_path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -704
      ],
      "id": "394df490-6728-4776-bc50-c94f9b182d55",
      "name": "Leaf Node1"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Query Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Google Drive1": {
      "main": [
        [
          {
            "node": "Has Children?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Children?1": {
      "main": [
        [
          {
            "node": "Prepare Cache & Recurse1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leaf Node1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cache & Recurse1": {
      "main": [
        [
          {
            "node": "Update Cache1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter for Recursion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cache1": {
      "main": [
        []
      ]
    },
    "Filter for Recursion1": {
      "main": [
        [
          {
            "node": "Recurse1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recurse1": {
      "main": [
        []
      ]
    },
    "Leaf Node1": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}