projects/n8n/03_any-file2json-converter/workflows/any-file2json-converter.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "dcfab135-3e7b-4e0b-9397-980e2cbef2f8",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -32,
        496
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "631f18b6-4382-445a-a0fd-bb235a9e9cd6",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        144
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "56b3e55a-2844-4139-af77-b3ebf89f04d4",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        192,
        640
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "ebcd05e7-ad0b-410a-9855-d4465d54754c",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        400,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e3a4d243-5c9e-4363-aeda-4afe1afab79e",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "59677ac7-7038-4f77-94a3-69df1b6544a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7c8331d-3ac1-43cb-9774-9f18cda2abc4",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/json",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $binary.values()[0].mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f30330d4-a83c-4e9e-9a0b-7de8a1767dc2",
                    "leftValue": "={{ $json.binary_files.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "url-route-condition",
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/x-url",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9003d1e6-9184-4d9c-8bd0-7a0cca80aee8",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "e50f6105-7701-4dc7-83e2-99be0e83953d",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -32,
        784
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -32,
        640
      ],
      "id": "6869d8cd-a552-46dd-8e33-078906931dae",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"binary_files\": {\n    \"attachment_0\": {\"mimeType\": \"...\", \"data\": \"...\", \"fileName\": \"...\"}\n  },\n  \"metadata\": {}\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -720,
        128
      ],
      "id": "aa29a1f4-89e4-4402-a320-fcf59f339a90",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Testing\n\n\n\n\n\n\n\n\n\n\n\n\nPin data to **Input Validator** node:\n\n**URL Input:**\n```json\n{\"url\": \"https://en.wikipedia.org/wiki/N8n\", \"metadata\": {}}\n```\n\n**Binary Input:**\n```json\n{\n  \"binary_files\": {\n    \"attachment_0\": {\n      \"mimeType\": \"image/jpeg\",\n      \"data\": \"base64...\",\n      \"fileName\": \"test.jpg\"\n    }\n  },\n  \"metadata\": {\"source\": \"test\"}\n}\n```",
        "height": 460,
        "width": 320
      },
      "id": "5a71bd8a-3c09-4ee9-8f39-b880019fcc22",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        2144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1V4ZuvFi_c1X7jn6fGmRlZ6q_5CYTQ9G7/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "id": "bd482512-2e93-4b88-8a78-7d7740c67ad5",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        336
      ],
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Use case",
        "height": 188,
        "width": 460
      },
      "id": "00c92ade-a32e-41e4-b7ee-396f22f3c1b3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extract all data from this document.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a Document Data Extractor. Given a document image, extract all visible information into a structured JSON object.\n\n**Output Requirements:**\n- Respond with ONLY the JSON object. No explanations or other text.\n- If no readable content exists, respond with: {}\n\n**Classification (REQUIRED):**\nAlways include these two fields:\n- content_class: \"primary_document\" (text-heavy document needing storage: invoices, receipts, contracts, letters) | \"style_element\" (logos, signatures, banners, decorative images) | \"unclassified\" (doesn't fit either)\n- class_confidence: 0.0 to 1.0 (your confidence in the classification)\n\n{{ (() => { const e = $('Input Validator').first().json.extraction || {}; let ctx = ''; if (e.type) ctx += `Document type: ${e.type}\\n`; if (e.focus_fields?.length) ctx += `Priority fields: ${e.focus_fields.join(', ')}\\n`; if (e.instructions) ctx += `Instructions: ${e.instructions}\\n`; return ctx ? '**Caller Context:**\\n' + ctx + '\\n' : ''; })() }}**Key Naming Rules:**\n1. Use `snake_case` in English\n2. Derive keys from visible labels (e.g., \"Invoice #:\" → `invoice_number`, \"Date:\" → `date`)\n3. For unlabeled data, create descriptive `snake_case` keys\n4. Prefix uncertain mappings with `uncertain_`\n5. Omit keys for missing information—never invent data"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "id": "67064dc4-f2f2-471d-990b-e8319a3c286c",
      "name": "Image-to-text",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        48,
        -192
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "borderWidth": 1,
        "borderHeight": 1,
        "options": {
          "fileName": "data"
        }
      },
      "id": "c5739e57-d656-42d2-a5ca-9eebde5478b0",
      "name": "conversion",
      "type": "n8n-nodes-base.editImage",
      "position": [
        -96,
        -192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.flatMap(item => {\n  // Check for URL input (no binary data, has url field)\n  const url = item.json.url || item.json.source_url || null;\n  const isUrl = url && /^https?:\\/\\/.+/.test(url) && !item.binary;\n\n  if (isUrl) {\n    // Return item with pseudo-MIME for Switch routing\n    return [{\n      json: {\n        ...item.json,\n        _inputType: 'url',\n        _jinaUrl: `https://r.jina.ai/${url}`\n      },\n      binary: {\n        data: {\n          mimeType: 'text/x-url',\n          data: '',\n          fileName: url\n        }\n      }\n    }];\n  }\n\n  // Existing logic: flatten binary files\n  return item.binary\n    ? Object.keys(item.binary).map(key => ({\n        json: item.json,\n        binary: { data: item.binary[key] }\n      }))\n    : [item];\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        128
      ],
      "id": "c9cfe875-2d30-4718-80de-0c24b099d639",
      "name": "(File-rename)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-validator-extraction",
              "name": "extraction",
              "value": "={{ $json.extraction || {} }}",
              "type": "object"
            },
            {
              "id": "input-validator-metadata",
              "name": "metadata",
              "value": "={{ $json.metadata || {} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        128
      ],
      "id": "b356d59d-3cf0-4903-b931-7732982a04bf",
      "name": "Input Validator",
      "notes": "Pin test data here. See Testing sticky note for examples."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        336
      ],
      "id": "ecef6366-4686-431a-8edf-1bd7b90815e7",
      "name": "Testing n8n sub-workflow",
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n\n\n\nThis node requires an LLM API which accpets images. Google works nicely, leave this model if possible.",
        "height": 96,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        16
      ],
      "id": "79986b8f-d12d-4dca-a908-ee2a663467c6",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Any-file2json converter\n# · image OCR\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n```\n```\n# · pdf\n\n\n\n\n\n```\n```\n# · json\n\n\n```\n```\n# · csv / excel / etc.\n\n\n\n\n\n",
        "height": 1224,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        -288
      ],
      "id": "9a2dc413-8361-423c-9eed-696b49f948ab",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Optional:** LLM confidence scoring via `class_confidence` field. See `docs/observability-through-llm-confidence-estimate.md`",
        "height": 80,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        64
      ],
      "id": "a0e02be3-3273-4f33-8924-c541f2da5ca4",
      "name": "Confidence Note"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "binaryPropertyName": "=data",
        "destinationKey": "data.unpacked",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "e598263b-1e7b-4ecd-ace8-e21199a19faa",
      "name": "Extract from JSON",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"content_class\": {\n      \"type\": \"string\",\n      \"enum\": [\"primary_document\", \"style_element\", \"unclassified\"]\n    },\n    \"class_confidence\": {\n      \"type\": \"number\"\n    }\n  },\n  \"required\": [\"content_class\", \"class_confidence\"],\n  \"additionalProperties\": true\n}"
      },
      "id": "db98dc53-dc2f-4a15-a266-f1d741f01960",
      "name": "Output Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        144,
        -64
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "id": "7fede59f-e129-457c-9e06-0c9ddb512f9f",
      "name": "image-language-model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -16,
        -64
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "4ZjiW5nwUXsnYHL9",
          "name": "Google Gemini(PaLM)-260203"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uh-status",
              "name": "status",
              "value": "unresolved",
              "type": "string"
            },
            {
              "id": "uh-error-code",
              "name": "error_code",
              "value": "UNSUPPORTED_MIME_TYPE",
              "type": "string"
            },
            {
              "id": "uh-mime-type",
              "name": "mimeType",
              "value": "={{ $binary.data?.mimeType || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "uh-file-name",
              "name": "fileName",
              "value": "={{ $binary.data?.fileName || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "uh-file-size",
              "name": "fileSize",
              "value": "={{ $binary.data?.fileSize || 0 }}",
              "type": "number"
            },
            {
              "id": "uh-original-item",
              "name": "originalItem",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "uh-metadata",
              "name": "metadata",
              "value": "={{ $('Input Validator').first().json.metadata }}",
              "type": "object"
            },
            {
              "id": "uh-resolver-hint",
              "name": "resolver_hint",
              "value": "Unsupported file type. Route to resolver workflow for AI interpretation or human review.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        432
      ],
      "id": "170406de-0713-4f7d-9335-63159443d990",
      "name": "Unresolved Handler"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d783b0b2-3058-49db-a543-0a405c5d815e",
              "name": "data.text",
              "value": "={{ typeof $json.text === 'string' ? $json.text : JSON.stringify($json.output || $json) }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-content-class",
              "name": "data.content_class",
              "value": "={{ $json.output?.content_class || $json.content_class || 'UNK' }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-class-confidence",
              "name": "data.class_confidence",
              "value": "={{ $json.output?.class_confidence ?? $json.class_confidence ?? 'UNK' }}",
              "type": "string"
            },
            {
              "id": "return-status",
              "name": "status",
              "value": "={{ $json.status || 'resolved' }}",
              "type": "string"
            },
            {
              "id": "return-metadata",
              "name": "metadata",
              "value": "={{ $('Input Validator').first().json.metadata }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        144
      ],
      "id": "0e3f38bb-72b6-43ed-bf2f-8ac2277de98c",
      "name": "Return node"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json._jinaUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        960
      ],
      "id": "jina-url-fetch-node",
      "name": "Fetch URL (Jina)"
    }
  ],
  "connections": {
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "conversion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch URL (Jina)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unresolved Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL (Jina)": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validator": {
      "main": [
        [
          {
            "node": "(File-rename)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image-to-text": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conversion": {
      "main": [
        [
          {
            "node": "Image-to-text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(File-rename)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Testing n8n sub-workflow": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from JSON": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Image-to-text",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "image-language-model": {
      "ai_languageModel": [
        [
          {
            "node": "Image-to-text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Unresolved Handler": {
      "main": [
        [
          {
            "node": "Return node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "09a80676641fdc883fcaa67648f06322bebbd00adb281b1cf481107091bcc026"
  }
}